<app-navbar></app-navbar>

<div class="buttons-wrapper">
  <button mat-raised-button routerLink="host">
    <div class="button-inner-wrapper">
      <span class="button-emoji">🖥️</span>
      <span>Host</span>
    </div>
  </button>
  <button mat-raised-button routerLink="guest">
    <div class="button-inner-wrapper">
      <span class="button-emoji">📱</span>
      <span>Guest</span>
    </div>
  </button>
  <button mat-raised-button (click)="openHelp()">
    <div class="button-inner-wrapper">
      <span class="button-emoji">🙋‍</span>
      <span>Help</span>
    </div>
  </button>
</div>
